<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="margin-left: 20px" > Books</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-book">Add Book</a>
      </li>
    </ul>
  </div>
  <!-- <div class=" my-2 my-lg-0" style="margin-right: 20px">
    <mat-icon style="color: white">add_shopping_cart</mat-icon>
  </div> -->
  <div *ngIf="!isUserLoggedIn" class=" my-2 my-lg-0" style="margin-right: 20px">
    <a class="nav-link" routerLink="/login" ><button class="btn my-2 my-sm-0" style="color: white ;"  (click)="onLogin()">Login</button></a>
  </div>
  <div *ngIf="isUserLoggedIn" class=" my-2 my-lg-0" style="margin-right: 20px">
    <a class="nav-link" routerLink="/books"><button class="btn my-2 my-sm-0" style="color: white ;"  (click)="onLogout()">Logout</button></a>
  </div>
  <div *ngIf="!isUserLoggedIn" class=" my-2 my-lg-0" style="margin-right: 20px">
    <a class="nav-link" routerLink="/register"><button class="btn my-2 my-sm-0" style="color: white ;">Register</button></a>
  </div>
  <!-- <div style="color: white; margin-right: 10px;">
    {{isUserLoggedIn}}
  </div> -->
</nav>  
