<div class="card mb-8 mx-auto" style="max-width: 640px; margin-top: 14px" >
  <img [src]="book.imgSrc" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">{{book.title}}</h2>
    <p class="card-text">{{book.summary}}</p>
    <p class="card-text">Rating {{book.rating}}</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    <button type="button" class="btn btn-dark"
            (click)="onDetails(book.id)">Details</button>
  </div>
</div>


